<template shadow-dom="open">
  <code attr-lang="language">
    <pre ref="preview">
      <slot></slot>
    </pre>
  </code>
</template>

<script setup>
  import { templateRef, defineProps, loadCss, loadScript, onInit } from '@li3/web';

  const { source, language } = defineProps(['language', 'source']);
  const preview = templateRef(null);

  loadCss(
    "https://cdn.jsdelivr.net/gh/highlightjs/cdn-release@10.1.2/build/styles/default.min.css"
  );

  loadScript(
    "https://cdn.jsdelivr.net/gh/highlightjs/cdn-release@10.1.2/build/highlight.min.js"
  );

  onInit(function ({ element }) {
    const src = source.value || element.innerHTML.trim() || '';
    const language = language.value || '';
    preview.value.innerHTML = window.hljs?.highlight(language, src).value || src;
  })

</script>