<template shadowdom="open">
  <div class="console" ref="output"></div>
</template>

<script setup>
  import { ref, materialize, html } from "@lithium/web";
  const output = ref(null);

  const fn = (...args) => {
    output.value.append(
      materialize(html(`<div>${args.map(JSON.stringify).join(",")}</div>`))
    );
  };

  window.console.log = fn;
  window.console.info = fn;
  window.console.error = fn;
</script>

<style>
  .console {
    padding: 1rem;
    white-space: pre-wrap;
    font-family: monospace;
    font-size: 12px;
  }
</style>
