<template component="file-navitem">
  <li>
    <button
      class="flex w-full items-center px-4 py-2 text-sm rounded-md hover:bg-gray-100"
      class-font-semibold="hasSubItems(item)"
      on-click="toggle(item)"
    >
      <span>${item.title}</span>
      <template if="hasSubItems(item)">
        <span class="ml-auto">
          <svg
            xmlns="http://www.w3.org/2000/svg"
            width="16"
            height="16"
            viewBox="0 0 24 24"
            fill="none"
            stroke="currentColor"
            stroke-width="2"
            stroke-linecap="round"
            stroke-linejoin="round"
            class="h-4 w-4 transform"
            class--rotate-90="item.isOpen"
          >
            <polyline points="6 9 12 15 18 9"></polyline>
          </svg>
        </span>
      </template>
    </button>
    <template if="hasSubItems(item) && item.isOpen">
      <ul class="pl-4 mt-1 space-y-1">
        <template for="subItem of item.items">
          <file-navitem class="contents" :item="subItem"></file-navitem>
        </template>
      </ul>
    </template>
  </li>

  <script setup>
    import { defineProp } from "@li3/web";

    export default function () {
      function toggle(item) {
        item.isOpen = !item.isOpen;
      }

      const hasSubItems = (item) => item.items?.length;

      return { hasSubItems, toggle };
    }
  </script>
</template>

<template component="file-nav">
  <div class="w-64 rounded-lg border bg-white text-gray-900 shadow-sm">
    <div class="px-4 py-2 border-b">
      <h2 class="text-lg font-semibold">Menu</h2>
    </div>
    <div class="py-2">
      <ul class="space-y-1">
        <template for="item of items">
          <file-navitem :item="item"></file-navitem>
        </template>
      </ul>
    </div>
  </div>

  <script setup>
    import { defineProp } from "@li3/web";

    export default function () {
      defineProp("items", { default: () => [] });
    }
  </script>
</template>
