<script setup="">
  import { onInit, defineProps, ref, watch } from "@li3/web";
  import "@sodium/select-viewport";

  const props = defineProps(["source"]);
  const frame = ref(null);
  const deviceSize = ref("desktop");
  const deviceWidth = ref("100%");
  let sizeTable = {
    desktop: "100%",
    tablet: "1024px",
    mobile: "640px",
  };

  function setDeviceSize(value) {
    deviceSize.value = value;
    deviceWidth.value = sizeTable[value];
  }

  function updatePreview() {
    frame.value.innerHTML = props.source;
  }

  loadCss(
    "https://cdnjs.cloudflare.com/ajax/libs/tailwindcss/2.2.19/tailwind.min.css"
  );

  // onInit(function () {
  //   frame.value.contentWindow.onerror = (e) => console.error(e);
  //   frame.value.contentWindow.document.head.append(link);
  // });

  watch(() => props.source, updatePreview);
</script>

<template shadow-dom="open">
  <div class="bg-gray-200 p-1 h-full flex flex-col items-center">
    <select-viewport class="mb-2"
      :value="deviceSize"
      @select="setDeviceSize($event.detail)"></select-viewport>
    <div ref="frame"
      class="h-full bg-white mx-auto rounded border-gray-400"
      .style.width="deviceWidth"></div>
  </div>
</template>