<template component="lucide-icon">
  <span ref="svg" attr-aria-label="label || ''"></span>

  <script setup>
    import { computed, effect, templateRef, defineProp } from "@li3/web";
    import { loadIcon } from "@sodium/icon-loader.mjs";

    const cache = {};
    
    export default function () {
      const svg = templateRef("svg");
      const icon = defineProp("icon");
      const iconClasses = defineProp("iconClasses");
      const label = defineProp("label");
      const size = defineProp("size");

      effect(
        () => svg.value + iconClasses.value + size.value + icon.value,
        async function update() {
          if (!icon.value?.trim() || !svg.value) {
            return;
          }

          svg.value.innerHTML = "";
          const newIcon = String(icon.value)

          if (!cache[newIcon]) {
            cache[newIcon] = loadIcon(newIcon);
          }

          const node = await cache[newIcon];
          const svgIcon = node.cloneNode(true);
          svg.value.appendChild(svgIcon);

          if (iconClasses.value) {
            svgIcon.className.baseVal = iconClasses.value;
          }

          if (size.value) {
            const s = String(size.value);
            svgIcon.setAttribute("width", s);
            svgIcon.setAttribute("height", s);
          }
        },
      );
    }
  </script>
</template>
