<template shadow-dom="open">
  <div ref="chartRef"></div>
</template>

<script setup>
  import { Chart } from "https://unpkg.com/frappe-charts@1.6.1/dist/frappe-charts.esm.js";
  import { ref, watch, defineProps, onInit } from "@li3/web";

  const emptyChart = { labels: [], datasets: [] };
  const props = defineProps(["inputs", "type", "options"]);
  const chartRef = ref(null);
  let chart;

  onInit(() => {
    chart = new Chart(chartRef.value, {
      data: props.inputs.value || emptyChart,
      type: props.type.value || "line",
      ...(props.options.value || {}),
    });
  });

  function onRender() {
    if (!chart) return;

    chart.update(props.inputs.value || emptyChart);
  }

  watch(props.inputs, onRender);
  watch(props.type, onRender);
  watch(props.options, onRender);
</script>