<template>
  <div ref="chart"></div>
</template>

<script setup>
  import { Chart } from "https://unpkg.com/frappe-charts@1.6.1/dist/frappe-charts.esm.js";
  import { ref, watch, defineProps } from "@lithium/web";

  const props = defineProps(["inputs", "type", "options"]);
  const chart = ref(null);

  function onRender() {
    chart.value.innerHTML = "";
    new Chart(chart.value, {
      data: props.inputs,
      type: props.type || "line",
      ...(props.options || {}),
    });
  }

  watch(() => props.inputs, onRender);
  watch(() => props.type, onRender);
  watch(() => props.options, onRender);
</script>
