<template shadow-dom="open" component="na-terminal">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/xterm/5.5.0/xterm.min.css" />
  <div ref="terminal"></div>

  <script setup>
    import {
      templateRef,
      defineProp,
      defineEvent,
      onInit,
      onDestroy,
    } from "@li3/web";

    export default function () {
      const terminalRef = templateRef("terminal");
      const terminal = new window.Terminal({ convertEol: true });
      const fitAddon = new window.FitAddon.FitAddon();
      const onReady = defineEvent("ready");
      const emitResize = defineEvent("resize");
      const onData = defineEvent("data");
      const controller = defineProp("controller", { default: null });

      function onResize() {
        fitAddon.fit();
      }

      onInit(() => {
        terminal.loadAddon(fitAddon);
        terminal.open(terminalRef.value);
        terminal.onData((c) => onData(c));
        terminal.onResize(({ cols, rows }) => emitResize({ cols, rows }));

        if (controller.value) {
          const c = controller.value;
          c.addEventListener("data", (c) => terminal.write(c));
          c.addEventListener("clear", () => terminal.clear());
          c.addEventListener("resize", onResize);
        }

        window.addEventListener("resize", onResize);
        onReady(terminal);
      });

      onDestroy(() => {
        window.removeEventListener("resize", onResize);
      });
    }
  </script>
</template>
