<template>
  <div class="box-content flex h-6 items-center gap-2 rounded-md border border-gs-gray-alpha-400 bg-white p-1">
    <button
      class="shrink-0 items-center justify-center whitespace-nowrap text-sm font-medium transition-colors hover:bg-gray-100 h-6 gap-1 rounded-sm py-1 text-gray-900 w-6 hidden lg:flex"
      .class.bg-gray-100.text-gray-900="value.value === 'desktop'"
      @click="emit('select', 'desktop')"
    >
      <span class="sr-only">Desktop</span
      ><svg
        xmlns="http://www.w3.org/2000/svg"
        width="24"
        height="24"
        viewBox="0 0 24 24"
        fill="none"
        stroke="currentColor"
        stroke-width="2"
        stroke-linecap="round"
        stroke-linejoin="round"
        class="block h-4 w-4"
      >
        <g>
          <rect width="20" height="14" x="2" y="3" rx="2"></rect>
          <line x1="8" x2="16" y1="21" y2="21"></line>
          <line x1="12" x2="12" y1="17" y2="21"></line>
        </g>
      </svg>
    </button>

    <button
      class="shrink-0 items-center justify-center whitespace-nowrap text-sm font-medium transition-colors hover:bg-gray-100 h-6 gap-1 rounded-sm py-1 text-gray-900 w-6 hidden lg:flex"
      .class.bg-gray-100.text-gray-900="value.value === 'tablet'"
      @click="emit('select', 'tablet')"
    >
      <span class="sr-only">Tablet</span
      ><svg
        xmlns="http://www.w3.org/2000/svg"
        width="24"
        height="24"
        viewBox="0 0 24 24"
        fill="none"
        stroke="currentColor"
        stroke-width="2"
        stroke-linecap="round"
        stroke-linejoin="round"
        class="block h-4 w-4"
      >
        <g>
          <rect width="16" height="20" x="4" y="2" rx="2" ry="2"></rect>
          <line x1="12" x2="12.01" y1="18" y2="18"></line>
        </g>
      </svg>
    </button>

    <button
      class="shrink-0 items-center justify-center whitespace-nowrap text-sm font-medium transition-colors hover:bg-gray-100 h-6 gap-1 rounded-sm py-1 text-gray-900 w-6 hidden lg:flex"
      .class.bg-gray-100.text-gray-900="value.value === 'mobile'"
      @click="emit('select', 'mobile')"
    >
      <span class="sr-only">Mobile</span
      ><svg
        xmlns="http://www.w3.org/2000/svg"
        width="24"
        height="24"
        viewBox="0 0 24 24"
        fill="none"
        stroke="currentColor"
        stroke-width="2"
        stroke-linecap="round"
        stroke-linejoin="round"
        class="h-4 w-4"
      >
        <rect width="14" height="20" x="5" y="2" rx="2" ry="2"></rect>
        <path d="M12 18h.01"></path>
      </svg>
    </button>
  </div>
</template>

<script setup="">
  import { defineEvents, defineProps } from '@lithium/web';
  const emit = defineEvents(["select"]);
  defineProps(["value"]);
</script>
