<template>
  <span ref="svg"
    attr-aria-label="label"></span>
</template>
<script setup>
  import { onInit, ref, watch, defineProps } from "@lithium/web";

  const svg = ref(null);
  const props = defineProps(["icon", "iconClasses", "label", "size"]);

  let ce;

  async function createElement(name) {
    if (!ce) {
      const mod = await import(
        "https://unpkg.com/lucide@latest/dist/esm/createElement.js"
      );
      ce = mod.default;
    }

    return ce(name);
  }

  async function loadIcon(name) {
    try {
      const mod = await import(
        `https://unpkg.com/lucide@latest/dist/esm/icons/${name}.js`
      );
      const icon = mod.default;
      return createElement(icon);
    } catch {
      const node = document.createElement("span");
      node.innerText = "icon missing: " + name;
      return node;
    }
  }

  async function update() {
    if (!svg.value) return;

    svg.value.innerHTML = "";
    const icon = props.icon;

    if (!icon.trim()) {
      return;
    }

    const node = await loadIcon(icon);
    svg.value.appendChild(node);

    if (props.iconClasses) {
      node.className.baseVal = props.iconClasses;
    }

    if (props.size) {
      node.width = node.height = node.viewBox.baseVal.width = node.viewBox.baseVal.height = props.size;
    }
  }

  onInit(update);
  watch(() => props.icon, update);
</script>