<template shadow-dom="open" component="code-block">
  <code attr-lang="language" ref="preview" class="hljs"></code>

  <script setup="" lang="ts">
    import { templateRef, defineProp, onInit, getElement, watch, loadCss } from '@li3/web';
    import hljs from 'https://unpkg.com/@highlightjs/cdn-assets@11.11.1/es/highlight.min.js';

    // Themes:
    // https://app.unpkg.com/@highlightjs/cdn-assets@11.11.1/files/styles

    export default function () {
      const element = getElement();
      const theme = defineProp('theme', { default: 'atom-one-dark' });
      const source = defineProp('source', { default: element.innerHTML.trim() });
      const language = defineProp('language', { default: 'javascript' });
      const preview = templateRef('preview');

      function update() {
        const lang = language.value || 'javascript';
        let src = source.value || '';

        if (lang === 'html') {
          src = src.replace(/&lt;/g, '<').replace(/&gt;/g, '>');
        }

        preview.value.innerHTML =
          hljs.highlight(src, {
            language: lang,
            ignoreIllegals: true,
          }).value || src;
      }

      onInit(update);
      watch(source, update);
      watch(theme, async () => {
        const sheet = await loadCss(`https://unpkg.com/@highlightjs/cdn-assets@11.11.1/styles/${theme.value}.min.css`, {
          adopt: false,
        });
        element.shadowRoot.adoptedStyleSheets = [sheet];
      });
    }
  </script>
</template>
