<template shadow-dom="open" component="code-block">
  <link
    rel="stylesheet"
    href="https://cdn.jsdelivr.net/gh/highlightjs/cdn-release@11.11.1/build/styles/default.min.css"
  />
  <code attr-lang="language">
    <pre ref="preview">
      <slot></slot>
    </pre>
  </code>

  <script setup>
    import { templateRef, defineProp, onInit, getElement, watch } from "@li3/web";
    import hljs from "https://unpkg.com/@highlightjs/cdn-assets@11.11.1/es/highlight.min.js";

    export default function () {
      const element = getElement();
      const source = defineProp("source");
      const language = defineProp("language");
      const preview = templateRef("preview");

      function update(language, src) {
        if (language === "html") {
          src = src.replace(/&lt;/g, "<").replace(/&gt;/g, ">");
        }

        preview.value.innerHTML =
          hljs.highlight(src, {
            language,
            ignoreIllegals: true,
          }).value || src;
      }

      onInit(function () {
        update(
          language.value || "javascript", 
          source.value || element.innerHTML.trim()
        );
      });

      watch(source, () => update(language.value || "javascript", source.value || ''));
    }
  </script>
</template>
