<template shadow-dom="open" component="code-editor">
  <link
    rel="stylesheet"
    href="https://cdn.jsdelivr.net/gh/highlightjs/cdn-release@11.11.1/build/styles/default.min.css"
  />
  <div class="flex flex-col expand">
    <div class="flex expand">
      <div class="monospace line-numbers" ref="lines"></div>
      <div class="editor-area expand">
        <div class="layer preview monospace" ref="preview"></div>
        <textarea
          autocorrect="off"
          autocapitalize="off"
          autocomplete="off"
          spellcheck="false"
          bind-name="name"
          bind-value="valueProp"
          on-input.stop="onSourceChange()"
          on-change.stop="onSourceChange()"
          on-keydown="onKeyEvent($event)"
          on-keyup="updatePosition()"
          on-select="updatePosition()"
          on-scroll="syncScroll($event)"
          class="layer source monospace"
          ref="sourceRef"
        ></textarea>
      </div>
    </div>
    <div class="position" ref="cursor"></div>
  </div>

  <style>
    *,
    ::after,
    ::before {
      box-sizing: border-box;
    }

    .flex-col {
      flex-direction: column;
    }

    .position {
      border-top: 1px solid rgba(229, 231, 235, 1);
      background-color: rgba(243, 244, 246, 1);
      padding: 0.25rem;
      font-size: 0.75rem;
      line-height: 1rem;
      text-align: right;
    }

    .flex {
      display: flex;
    }

    .editor-area {
      position: relative;
      overflow: auto;
    }

    .expand {
      width: 100%;
      height: 100%;
    }

    .monospace {
      font-family: monospace;
      line-height: 1rem;
      font-size: 0.75rem;
      letter-spacing: 0px;
      padding: 0.5rem 0.25rem;
    }

    .line-numbers {
      counter-reset: line;
      text-align: right;
      opacity: 0.5;
      background-color: #f0f0f0;
      user-select: none;
    }

    .line-numbers span {
      display: block;
      counter-increment: line;
      padding-right: 0.5rem;
      color: #888;
    }

    .line-numbers span::before {
      content: counter(line);
    }

    .layer {
      position: absolute;
      top: 0px;
      right: 0px;
      left: 0px;
      bottom: 0px;
    }

    .preview {
      z-index: 2;
      white-space: pre;
      overflow: hidden;
    }

    .source {
      z-index: 3;
      caret-color: black;
      background: transparent;
      color: transparent;
      overflow: auto;
      white-space: nowrap;
      resize: none;
      border: none;
    }
  </style>

  <script setup="">
    import hljs from "https://unpkg.com/@highlightjs/cdn-assets@11.11.1/es/highlight.min.js";
    import {
      ref,
      watch,
      templateRef,
      defineEvent,
      defineProp,
      onInit,
    } from "@li3/web";

    const NEWLINE = "\n";
    const SPACE = " ";
    const SPACES = "  ";

    export default function () {
      const preview = templateRef("preview").value;
      const sourceRef = templateRef("sourceRef").value;
      const cursor = templateRef("cursor").value;
      const lineNumbers = templateRef("lines").value;

      const onChange = defineEvent("change");
      const name = defineProp("name");
      const valueProp = defineProp("value");
      const language = defineProp("language");

      function debounce(fn, time = 200) {
        let t = 0;

        return (...args) => {
          clearTimeout(t);
          t = setTimeout(() => fn(...args), time);
        };
      }

      function getSource() {
        return valueProp.value;
      }

      function setSource(s) {
        valueProp.value = s;
      }

      function updatePreview() {
        const code = getSource();
        const hl = hljs.highlight(code + NEWLINE, {
          language: language.value || "javascript",
          ignoreIllegals: true,
        });

        preview.innerHTML = hl.value;
        updatePosition();

        lineNumbers.innerHTML = Array.from({
          length: code.split("\n").length,
        })
          .fill("<span></span>")
          .join("");
      }

      function countChars(str, char) {
        let i = str.length;
        let count = 0;

        while (i > 0) {
          if (str[i--] === char) count++;
        }

        return count;
      }

      function insertString(string) {
        const start = sourceRef.selectionStart;
        const position = start + string.length;
        const code = getSource();
        const beforeBlock = code.slice(0, start);
        const afterBlock = code.slice(start);
        setSource(beforeBlock + string + afterBlock);
        updateSelection(position, position);
        onUpdate();
      }

      function updatePosition() {
        const start = sourceRef.selectionStart;
        const end = sourceRef.selectionEnd;
        const before = getSource().slice(0, start);
        const selection = getSource().slice(start, end);
        const positionLine = before.split(NEWLINE).length;
        const positionColumn = start - before.lastIndexOf(NEWLINE);
        const positionSelection = countChars(selection, NEWLINE) || 1;
        cursor.innerText = `${positionLine}:${positionColumn} (${positionSelection})`;
      }

      function moveCodeBlock(event) {
        const { target, shiftKey } = event;
        const code = getSource();
        let start = target.selectionStart;
        const end = target.selectionEnd;

        if (start > 0 && code.charAt(start - 1) !== NEWLINE) {
          start = code.slice(0, start).lastIndexOf(NEWLINE);
        }

        const beforeBlock = code.slice(0, start);
        const afterBlock = code.slice(end);
        const selection = code.slice(start, end);
        const lines = selection.split(NEWLINE);
        const modifiedBlock = lines
          .map((line) => (shiftKey ? line.replace(SPACES, "") : SPACES + line))
          .join(NEWLINE);

        setSource(beforeBlock + modifiedBlock + afterBlock);
        updateSelection(start, start + modifiedBlock.length);
        onUpdate();
      }

      function moveCodeLine(event) {
        const { target, shiftKey } = event;
        const code = getSource();
        const start = target.selectionStart;
        const end = target.selectionEnd;
        const left = code.slice(0, start);
        const right = code.slice(end);
        const lines = right.split(NEWLINE);
        const line = lines.shift() || "";
        const updatedLine = shiftKey ? line.replace(SPACES, "") : SPACES + line;
        const newSource = left + [updatedLine, ...lines].join(NEWLINE);
        const cursorPosition = shiftKey
          ? start - SPACES.length
          : start + SPACES.length;

        setSource(newSource);
        updateSelection(cursorPosition, cursorPosition);
        onUpdate();
      }

      function updateSelection(start, end) {
        sourceRef.selectionEnd = start;
        sourceRef.selectionStart = end;
      }

      function findIndentation(string) {
        let cursor = 0;

        while (cursor < string.length) {
          if (string.charAt(cursor) !== SPACE) break;
          cursor++;
        }

        return cursor;
      }

      function onTab(event) {
        const { target } = event;
        if (target.selectionStart !== target.selectionEnd) {
          moveCodeBlock(event);
          return;
        }

        moveCodeLine(event);
      }

      function onEnter(event) {
        const code = getSource();
        const position = sourceRef.selectionStart;
        const char = code.charAt(position);

        if (char && char !== NEWLINE) {
          insertString(NEWLINE);
          return;
        }

        let lineStart = position - 1;

        while (lineStart > 0 && code.charAt(lineStart) !== NEWLINE) {
          lineStart--;
        }

        const line = code.slice(lineStart + 1, position);
        const indentation = findIndentation(line);
        let insertion = "\n";

        if (indentation) {
          insertion += SPACE.repeat(indentation);
        }

        insertString(insertion);
      }

      function onKeyEvent(event) {
        const { target } = event;

        if (event.key === "Tab" && !event.altKey) {
          event.preventDefault();
          onTab(event);
        }

        if (event.key === "Enter") {
          if (target.selectionEnd === target.selectionStart) {
            event.preventDefault();
            onEnter(event);
          }
        }

        updatePosition();
      }

      async function onUpdate() {
        updatePreview();
        syncScroll();
        onChange(getSource());
      }

      function syncScroll() {
        preview.scrollTop = sourceRef.scrollTop;
        preview.scrollLeft = sourceRef.scrollLeft;
      }

      const onSourceChange = debounce(onUpdate, 10);

      onInit(() => {
        watch(valueProp, (v) => {
          if (getSource() !== v) {
            setSource(v);
            onUpdate();
          }
        });

        watch(language, updatePreview);

        onUpdate();
      });

      return {
        valueProp,
        onSourceChange,
        syncScroll,
        onKeyEvent,
        updatePosition,
      };
    }
  </script>
</template>
