<template shadow-dom="open" component="code-editor">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/tailwindcss/2.2.19/tailwind.min.css" />
  <div class="flex flex-col w-full h-full">
    <div
      class="flex justify-between gap-2 h-8 p-1 text-xs text-right border-t border-gray-200 bg-gray-100 bg-opacity-40"
      class-hidden="!!nostatus"
    >
      <span
        class="p-1 text-xs font-bold leading-3 whitespace-nowrap overflow-hidden overflow-ellipsis"
        class-hidden="!status"
      >
        {{ status }}
      </span>
      <div>
        <span ref="cursor"></span>
        <button on-click="onSetLanguage()">{{ language || 'auto' }}</button>
      </div>
    </div>

    <div class="flex w-full flex-1 min-h-0">
      <div
        class="line-numbers font-mono text-xs py-2 px-1 text-right bg-gray-100 opacity-50 select-none overflow-hidden"
        class-hidden="!!nolines"
        ref="lines"
      ></div>
      <div class="relative w-full h-full overflow-auto">
        <div
          class="absolute inset-0 z-10 font-mono text-xs py-2 px-1 whitespace-pre overflow-hidden"
          ref="preview"
        ></div>
        <textarea
          autocorrect="off"
          autocapitalize="off"
          autocomplete="off"
          spellcheck="false"
          bind-name="name"
          bind-value="valueProp"
          on-input.stop="onSourceChange()"
          on-change.stop="onSourceChange()"
          on-keydown="onKeyEvent($event)"
          on-keyup="updatePosition()"
          on-select="updatePosition()"
          on-scroll="syncScroll($event)"
          class="absolute inset-0 z-20 font-mono text-xs py-2 px-1 bg-transparent text-transparent border-none resize-none whitespace-nowrap overflow-auto outline-none"
          style="caret-color: black"
          ref="sourceRef"
        ></textarea>
      </div>
    </div>
  </div>

  <style>
    .line-numbers {
      counter-reset: line;
    }

    .line-numbers span {
      display: block;
      counter-increment: line;
      padding-right: 0.5rem;
      color: #888;
    }

    .line-numbers span::before {
      content: counter(line);
    }
  </style>

  <script setup src="./code-editor.mjs"></script>
</template>
