<template component="file-tree" shadow-dom="open">
  <link
    rel="stylesheet"
    href="https://cdnjs.cloudflare.com/ajax/libs/tailwindcss/2.2.19/tailwind.min.css"
  />
  <link
    rel="component"
    href="https://sodium.static.apphor.de/lucide-icon.html"
  />

  <template for="entry of files">
    <div class="flex flex-col">
      <template if="entry.type === 'f'">
        <button
          on-click.stop.prevent="onSelect(entry)"
          on-dblclick.stop.prevent="onRename(entry)"
          class="p-1 w-full text-xs text-left flex gap-1"
        >
          <lucide-icon size="14" icon="file"></lucide-icon>
          <span class="truncate">{{ entry.name }}</span>
        </button>
      </template>

      <template if="entry.type === 'd'">
        <button
          on-click.stop="toggleExpanded(entry.path),onNav(entry)"
          class="p-1 w-full text-xs text-left overflow-hidden flex items-center gap-1"
          class-bg-gray-200.font-bold="selected?.path === entry.path"
        >
          <lucide-icon size="14" icon="folder"></lucide-icon>
          <span class="truncate">{{ entry.name }}</span>
        </button>
        <template if="isExpanded(entry.path)">
          <file-tree
            class="ml-4"
            bind-files="entry.files"
            on-select="onSelect($event.detail)"
            on-navigate="onNav($event.detail)"
          ></file-tree>
        </template>
      </template>
    </div>
  </template>
  <script setup src="./file-tree.mjs"></script>
</template>
