<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Sodium Component Library</title>
    <script type="importmap">
      { "imports": { "@li3/": "https://static.apphor.de/@li3/" } }
    </script>
    <script type="module">
      import '@li3/web';
    </script>
    <script src="https://cdn.tailwindcss.com"></script>
  </head>
  <body>
    <template app>
      <script setup>
        import {ref} from '@li3/web'
        export default function() {
          return { src: ref(document.body.innerHTML) }
        }
      </script>
    <h1>Sodium Components Library</h1>

    <section>
      <h2>code-block</h2>
      <link rel="component" href="/code-block.html" />
      <code-block class="block my-2" language="html" bind-source="src" theme="androidstudio"></code-block>
      <code-block language="javascript">console.log('hi')</code-block>
      <code-block language="css" source=".class { display: block }"></code-block>
    </section>

    <section>
      <h2>code-editor</h2>
      <link rel="component" href="/code-editor.html" />
      <code-editor
        language="html"
        theme="atom-one-dark"
        class="block border rounded-lg overflow-hidden bg-gray-200"
        bind-value="src"
      ></code-editor>
    </section>

    <section>
      <h2>lucide-icon</h2>
      <link rel="component" href="/lucide-icon.html" />
      <lucide-icon size="64" icon="user"></lucide-icon>
    </section>
    </template>

    <script src="https://console.apphor.de/index.mjs”></script>
  </body>
</html>
