<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Sodium Component Library</title>
    <script type="importmap">
      { "imports": { "@li3/": "https://static.apphor.de/@li3/" } }
    </script>
    <script>
      import '@li3/web';
    </script>
  </head>
  <body>
    <h1>Sodium Components Library</h1>

    <section>
      <h2>code-block</h2>
      <link rel="component" href="/code-block.html" />
      <code-block language="html">
        &lt;code-block language="javascript"&gt; console.log('hi');&lt;/code-block&gt;
      </code-block>
      <code-block language="javascript">console.log('hi')</code-block>
      <code-block language="css" source=".class { display: block }"></code-block>
    </section>

    <section>
      <h2>code-editor</h2>
      <link rel="component" href="/code-editor.html" />
      <code-editor
        language="javascript"
        value="export default function() { console.log('Hello world!') }"
      ></code-editor>
    </section>

    <section>
      <h2>lucide-icon</h2>
      <link rel="component" href="/lucide-icon.html" />
      <lucide-icon size="64" icon="user"></lucide-icon>
    </section>
  </body>
</html>
